<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/admin_layout}">
<head>
    <meta charset="utf-8">
    <title>Create an account</title>
</head>
<body>

<div layout:fragment="admin_content">
    <div class="container">
        <div class="card mt-4 mb-4">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-4">
                        <img th:src="@{${'/img/'+ product.getImage()}}" width="180" height="220"/>
                    </div>
                    <div class="col-8">
                        <h3 class="card-title" th:text="${product.getName()}">name</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <td>id</td>
                        <td th:text="${product.getId()}">id</td>
                    </tr>
                    <tr>
                        <td>created</td>
                        <td th:text="${#calendars.format(product.getCreated(),'dd MMMM yyyy')}">id</td>
                    </tr>
                    <tr>
                        <td>updated</td>
                        <td th:text="${#calendars.format(product.getUpdated(),'dd MMMM yyyy')}">id</td>
                    </tr>
                    <tr>
                        <td>visible</td>
                        <td th:text="${product.getVisible()}">id</td>
                    </tr>
                    <tr>
                        <td>product weight</td>
                        <td th:text="${product.getWeight()}">id</td>
                    </tr>
                    <tr>
                        <td>description</td>
                        <td th:text="${product.getDescription()}">id</td>
                    </tr>

                    <tr>
                        <td>product type</td>
                        <td th:text="${product.getType()}">id</td>
                    </tr>
                    <tr>
                        <td>count</td>
                        <td th:text="${product.getCount()}">id</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>
